@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Welcome to Contact web app</h1>
    <p>This project done by Grisha</p> <hr /> <br />
    <div class="row">
        <div class=" col-sm-12">
            <div class=" shadow-sm card border-info">
                <div class="card-body text-info">
                    <h5 class="card-header">Contact List</h5> <br />
                    <p>
                        Hello and welcome to Contacts. The web application is made with MVC / .NET Core. <br />
                        The program also used Bootstrap, JavaScript. <br />
                        In the program, you can add a new contact, change, delete. Please pay attention to the <br />
                        fact that the program allows you to save contacts in the "SQL" and "JSON" databases, you <br />
                        just need to select the option (SQL will be selected by default). <br />
                    </p>
                    <p class="card-text">Please click on button to preview Contact List app</p>
                    <a href="Home/Contacts" class="btn btn-lg btn-outline-info">Submitt</a>
                </div>
            </div>
        </div>
    </div>
</div>
